<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcy.mapper.UserMapper">

    <resultMap type="com.pcy.domain.MovieUser" id="MovieUserMap">
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="userUniqueName" column="user_unique_name" jdbcType="VARCHAR"/>
        <result property="userHeadPortraitUrl" column="user_head_portrait_url" jdbcType="VARCHAR"/>
        <result property="userUrl" column="user_url" jdbcType="VARCHAR"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="birth" column="birth" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="profession" column="profession" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertLoginLong" useGeneratedKeys="true" keyProperty="id">
        insert into t_login_log(phone, login_ip, login_time, state)
        values (#{phone}, #{loginIp}, #{loginTime}, #{state})
    </insert>

    <select id="selectUserLoginByPhone" resultType="com.pcy.domain.UserLogin">
        select *
        from t_user_login
        where phone = #{phone}
    </select>

    <select id="selectUserInfoByPhone" resultType="com.pcy.domain.MovieUser">
        select *
        from movie_user
        where phone = #{phone}
    </select>
</mapper>